.CardContent{
  
    -moz-box-shadow: 1px 2px 2px 6px #ccc;
    -webkit-box-shadow: 1px 1px 5px 6px #ccc;
    box-shadow: 1px 2px 2px 1px #ccc;
}


.cardImage{
    width: 100%;
    border: white 2px solid;
}
.cardTitle{
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.cardChannel{
     font-size: 1.2rem;
     font-weight: bold;
     color: black;
     font-family: 'Times New Roman', Times, serif;
     padding-top:-2rem ;
}
.cardDescrip{
     font-size: 1.2rem;
     font-weight: bold;
     color: black;
     font-family: 'Times New Roman',
     Times,
     serif;
     overflow: hidden;
     padding-top: 1rem;
}
.cardDate{
      font-size: 1.2rem;
      font-weight: bold;
      color: #ad343e;
      font-family: 'Times New Roman',
      Times,
      serif;
}
.link {
    text-decoration: none;
}

